* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: aqua;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: #0c0b0bf1;
}
.title {
  text-align: center;
  margin: 1rem auto;
}
.container {
  display: flex;
  justify-content: center;
  gap: 15%;
}
.settings-container{
    width: 13rem;
}
.boxContainer {
  height: 550px;
  width: 550px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 10px solid black;
}

div.box{
    background-color: white;
    border: 1px solid #2e2b2b57 !important;
    box-shadow: 0 0 0 1px #5a5454a8 !important;
    cursor: url(image/cursor.cur),auto;
}
.box.hover {
  background-color: rgba(128, 128, 128, 0.658);
  transition: 0.4s;
}
.mode-container{
  margin-bottom: 2rem;
}
.tools{
  text-align: center;
  margin-bottom: 2rem;
}
#color-picker{
  cursor: pointer;
}
.range-container{
display: flex;
flex-direction: column;
justify-content: center;
gap: 0.5rem;
}
#size-range{
  cursor: pointer;
}
.eraser-container{
  margin-bottom: 2rem;
}
.rainbow-container{
  margin-bottom: 2rem;
}
.lighten-container{
  margin-bottom: 2rem;
}
.darken-container{
  margin-bottom: 2rem;
}
.color-selector{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem auto;
    gap: 1rem;
}
.clear-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
button{
    color: #000000;
    padding: 0.5rem;
    border-radius: 3rem;
    width: 100%;
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
}
.active{
  background-color: blue;
  color: white;
  border: 2px solid white;
}
button:hover{
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
  transition: 0.3s ease;
}
